body{
    background-color: rgb(31, 136, 150);
}
header{
    max-width: 1800px;
    background-color: rgb(73, 28, 19);
    color: rgb(0, 0, 0);
    border-radius: 12px;
    padding: 10px;
    text-align: center;
}
nav.li{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
    margin: 0 auto;

}
nav.ul{
    list-style: none;
}
nav a{
    padding: 12px 10px;
}
main{
    width: 90%;
    margin: 0 auto;
    background-color: rgb(48, 19, 48);
    padding: 10px;
    border-radius: 12px;

}
section {
    width: 80%;
    padding: 12px;
    border-radius: 12px;
    background-color: rgb(79, 117, 199);
    margin: 0% auto;
    box-shadow: 0 5px 12px rgb(24, 20, 20);

}

footer {
    width: 100%;
    padding: 20px;
    text-align: center;
    font-size: 15px;
    background-color: rgb(20, 106, 204);
    color: bisque
}
div{
    text-align: center;

}
h2{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.parrafos{
    text-align: justify;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    padding: 12px;
}
.titulo{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}
h3{
    text-align: justify;
}